$cafe: #743c20;
$cafeClaro: #92624a;

// Asignar a la paleta de colores de bootstrap
$primary: $cafe;
$secondary: $cafeClaro;

// Tipografia
$display-font-weight: 900;
$heading-font-weight: 700;

//card
$card-border-color: transparent; 
//esto para que no se muestre el borde
@import '../../node_modules/bootstrap/scss/bootstrap.scss';